<h1>Move Homepage</h1>

<p>Hi, <%= current_user.first_name %>!</p>
<p>
	<a href="/logout"> Logout</a>
</p>

<!-- A listing of all of the moves available to this user -->


<!-- this is a users homepage displaying a list of all of the users moves with a nice icon

create a new move -->
<p>
  <a href="/moves/new">Create a New Move</a>
</p>

<!-- list of current moves -->