<h1> Welcome to UpR00T </h1>

<p>Hi, <%= current_user.first_name %>!</p>
<p>
	<a href="/logout"> Logout</a>
</p>

<!-- A listing of all of the moves available to this user with a nice icon to go along with each one -->

<ul>
<% @moves.each do |move| %>
  <li><%= link_to(move.name, move_path(move) ) %></li>
  <li><a href="/belongings"><%= "Inventory" %></a></li>
<% end %>
</ul>


<!-- create a new move -->
<p>
  <a href="/moves/new">Create a New Move</a>
</p>
