<h1>Index</h1>

<!-- This page lists all of the belongings that a user has

The view shows a picture of the element, with the name and the type at the top and at the bottom the current room, new room and condition

The first link will allow you to edit the belonging

The second will allow you to delete the belonging -->

<ul>
<% @belongings.each do |belonging| %>
	<p><%= belonging.name %> | <%= belonging.kind_of %></p>
	<p><img src="<%= belonging.picture_url %>"></p>
	<a href="/belongings/:id/edit">Edit Item</a>
	<a href="/belongings/:id"> Delete Item </a>
<% end %>
</ul>