<h1>List All Belongings Items for User</h1>

<p>Logged in as: <%= current_user.first_name %>!</p>

<ul>
<% @belongings.each do |belonging| %>
	<p><%= belonging.name %> | <%= belonging.kind_of %></p>
	<p><img src="<%= belonging.picture_url %>"></p>
	<a href="/belongings/:id/edit">Edit Item</a>
	<a href="/belongings/:id"> Delete Item </a>
<% end %>
</ul>